# Arquivos de dependências do Gradle
.gradle
/build/

# Arquivos de configuração local (contêm informações sensíveis como o caminho do SDK)
/local.properties

# Arquivos do IDE (IntelliJ, Android Studio)
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Arquivos de Keystore (NUNCA comitar chaves de assinatura)
*.jks
*.keystore

# Arquivos gerados pelo Google Services
google-services.json

# Arquivos de build do Proguard
proguard/

# Capturas de tela e vídeos do emulador
/captures/

# Logs de crash e uso do Firebase
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Arquivos de teste
*.apk
*.ap_
*.aab

# Cache do Kotlin
.kotlin/